services:
  web:
    build:
      context: .
      target: web
      args:
        TARGET_APP: web
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=3000
    expose:
      - "3000"
    networks:
      - app-network

  server:
    build:
      context: .
      target: server
      args:
        TARGET_APP: server
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=8000
    expose:
      - "8000"
    networks:
      - app-network
  dashboard:
    build:
      context: .
      target: dashboard
      args:
        TARGET_APP: dashboard
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=5173
    expose:
      - "5173"
    networks:
      - app-network

  caddy:
    image: caddy:2.8
    container_name: caddy-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DOMAIN=canto-store.com
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy-data:/data
      - caddy-config:/config
    depends_on:
      - web
      - server
      - dashboard
    networks:
      - app-network
      - staging-network

networks:
  app-network:
    driver: bridge
    internal: true
  staging-network:
    driver: bridge
    internal: true

volumes:
  caddy-data:
  caddy-config:
