services:
  web:
    image: ${WEB_IMAGE}
    container_name: production-web
    environment:
      - NODE_ENV=production
      - PORT=3000
      - UPLOADTHING_TOKEN=${UPLOADTHING_TOKEN}
      - SPACES_KEY=${SPACES_KEY}
      - SPACES_SECRET=${SPACES_SECRET}
      - SPACES_REGION=${SPACES_REGION}
      - SPACES_BUCKET=${SPACES_BUCKET}
      - JWT_SECRET=${JWT_SECRET}
      - NEXT_PUBLIC_BACKEND_URL=https://api.canto-store.com/api
    networks:
      - canto-network
    restart: unless-stopped

  server:
    image: ${SERVER_IMAGE}
    container_name: production-server
    environment:
      - NODE_ENV=production
      - PORT=8000
      - DATABASE_URL=${DATABASE_URL}
      - ELASTICSEARCH_NODE=${ELASTICSEARCH_NODE}
      - ELASTICSEARCH_USERNAME=${ELASTICSEARCH_USERNAME}
      - ELASTICSEARCH_PASSWORD=${ELASTICSEARCH_PASSWORD}
      - DELIVERIC_API=${DELIVERIC_API}
      - DELIVERIC_USER=${DELIVERIC_USER}
      - DELIVERIC_PASSWORD=${DELIVERIC_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - DOMAIN=${DOMAIN}
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_PASS=${EMAIL_PASS}
      
    networks:
      - canto-network
    restart: unless-stopped

  dashboard:
    image: ${DASHBOARD_IMAGE}
    container_name: production-dashboard
    environment:
      - NODE_ENV=production
      - PORT=5173
      - VITE_BACKEND_URL=https://api.canto-store.com/api
    networks:
      - canto-network
    restart: unless-stopped

  caddy:
    image: ${CADDY_IMAGE}
    container_name: production-caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - caddy-data:/data
      - caddy-config:/config
      - ./Caddyfile:/etc/caddy/Caddyfile
    environment:
      - DOMAIN=${DOMAIN}
    networks:
      - canto-network
    depends_on:
      - web
      - server
      - dashboard
    restart: unless-stopped

networks:
  canto-network:
    name: canto-network
    driver: bridge

volumes:
  caddy-data:
  caddy-config:
