services:
  web:
    image: ${WEB_IMAGE}
    container_name: staging-web
    environment:
      - UPLOADTHING_TOKEN=${UPLOADTHING_TOKEN}
      - SPACES_KEY=${SPACES_KEY}
      - SPACES_SECRET=${SPACES_SECRET}
      - SPACES_REGION=${SPACES_REGION}
      - SPACES_BUCKET=${SPACES_BUCKET}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=5000
      - HOSTNAME=0.0.0.0
      - NODE_ENV=test
      - NEXT_PUBLIC_BACKEND_URL=https://api-staging.canto-store.com/api

    expose:
      - "5000"
    networks:
      - canto-network
    restart: unless-stopped

  server:
    image: ${SERVER_IMAGE}
    container_name: staging-server
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - ELASTICSEARCH_NODE=${ELASTICSEARCH_NODE}
      - ELASTICSEARCH_USERNAME=${ELASTICSEARCH_USERNAME}
      - ELASTICSEARCH_PASSWORD=${ELASTICSEARCH_PASSWORD}
      - DELIVERIC_API=${DELIVERIC_API}
      - DELIVERIC_USER=${DELIVERIC_USER}
      - DELIVERIC_PASSWORD=${DELIVERIC_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - DOMAIN=${DOMAIN}
      - PORT=9000
      - NODE_ENV=test

    expose:
      - "9000"
    networks:
      - canto-network
    restart: unless-stopped

  dashboard:
    image: ${DASHBOARD_IMAGE}
    container_name: staging-dashboard
    environment:
      - PORT=7000
      - NODE_ENV=test
      - VITE_BACKEND_URL=https://api-staging.canto-store.com/api
    expose:
      - "7000"
    networks:
      - canto-network
    restart: unless-stopped

networks:
  canto-network:
    external: true
