@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* These variables are defined in layout.tsx */
  --font-arabic: var(--font-ibm-plex-sans-arabic);
  --font-heading: var(--font-optician-sans);
  --font-body: var(--font-space-grotesk);

  --color-light-gray: oklch(0.9431 0 0);
  --color-pink: oklch(0.7531 0.1625 348.5);
  --color-light-blue: oklch(0.7013 0.1354 266.53);
  --color-yellow: oklch(0.919 0.1845 105.15);
  --color-orange-red: oklch(0.6417 0.2139 35.46);
  --color-blue: oklch(0.5636 0.2217 264.62);
  --color-brown: oklch(0.5971 0.0942 78.25);
  --color-burgundy: oklch(0.2943 0.1051 9.18);
  --color-navy: oklch(0.2098 0.0654 253.37);
  --color-mint: oklch(0.8727 0.1097 177.24);

  --color-primary: var(--color-navy);
  --color-secondary: var(--color-burgundy);
  --color-tertiary: var(--color-pink);

  --color-primary-foreground: var(--color-light-gray);
  --color-secondary-foreground: var(--color-light-gray);
  --color-tertiary-foreground: var(--color-light-gray);
}

@layer base {
  * {
    @apply font-body;
    --radius: 0.625rem;
  }

  h1,
  h2,
  h3 {
    @apply font-heading;
  }

  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  .font-arabic {
    font-family: var(--font-arabic), system-ui, sans-serif;
  }

  .font-latin {
    font-family: var(--font-body), var(--font-heading), system-ui, sans-serif;
  }
}
